* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styling for the whole component */
.container {
  display: flex;
  background-color: #43c0f6;
  justify-content: space-between;
  text-align: justify;
  color: azure;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 64px;
}

/* styling for the star logo and text */
.star {
  display: flex;
  width: 120px;
  height: 60px;
  padding-left: 266px;
}

/* styling for the nav buttons */
.mainNav {
  display: flex;
  list-style: none;
  padding-top: 40px;
  text-align: justify;
}

/* styling for the nav buttons */
.mainNav li {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 100px;
}

/* {register and login plus language logo} */
.languageAndLogin {
  padding-right: 200px;
  background: padding-box;
  align-items: left;
  justify-items: space;
}

/* {register and login plus language logo} */
.languageAndLogin h4 {
  background: padding-box;
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 3689px;
  background: transparent url("img/Rectangle 257.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  backdrop-filter: blur(8px);

  .modalCloseButton {
    color: black;
  }
}
.signUpContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: absolute;
  top: 56px;
  left: 460px;
  width: 1300px;
  padding: 20px 20px;
  /* UI Properties */
  background-color: azure;
  /* background: transparent url('img/Rectangle 258.png') 0% 0% no-repeat padding-box; */
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.studentLoginResult {
  font-family: Nunito, Black;
  color: 707070;
}

.escButton {
  position: fixed;
  top: 104px;
  right: 200px;
  width: 31px;
  height: 31px;
}

.studentSignUpInputField {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.teacherSignUpInputField {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.studentLoginAndSignUpButton {
  display: flex;
  justify-content: center;
  font-family: Nunito, Black;
  color: 707070;
  font-size: 24px;
}

.teacherLoginAndSignUpButton {
  display: flex;
  justify-content: center;
  font-family: Nunito, Black;
  color: 707070;
  font-size: 24px;
}

.active {
  background-color: transparent;
  text-decoration: underline red 10px;
}

.studentLogInForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical spacing between children */
  margin-inline: auto;
  width: 220px;
  margin-top: 30px;
}

.studentLogInForm input {
  padding: 8px 12px;
  border: 1px solid #a29f9f;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.teacherLogInForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical spacing between children */
  margin-inline: auto;
  width: 220px;
  margin-top: 30px;
}

.teacherLogInForm input {
  padding: 8px 12px;
  border: 1px solid #a29f9f;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.studentLogInForm button {
  margin-inline: auto;
  padding: 8px;
  border: 1px solid #a29f9f;
  background-color: red;
  color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
}

.teacherLogInForm button {
  margin-inline: auto;
  padding: 8px;
  border: 1px solid #a29f9f;
  background-color: red;
  color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
}

.studentSignUpInputField {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical spacing between children */
  margin-inline: auto;
  width: 220px;
  margin-top: 30px;
}

.studentSignUpInputField input {
  padding: 8px 12px;
  border: 1px solid #a29f9f;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.teacherSignUpInputField {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical spacing between children */
  margin-inline: auto;
  width: 220px;
  margin-top: 30px;
}

.teacherSignUpInputField input {
  padding: 8px 12px;
  border: 1px solid #a29f9f;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.studentSignUpInputField button {
  margin-inline: auto;
  padding: 8px;
  border: 1px solid #a29f9f;
  background-color: red;
  color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
}

.teacherSignUpInputField button {
  margin-inline: auto;
  padding: 8px;
  border: 1px solid #a29f9f;
  background-color: red;
  color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
}

/* ?? screen responsiveness */

@media (max-width: 1024px) {
  .signUpContainer {
    width: 90%;
    left: 5%;
    top: 80px;
    grid-template-columns: 1fr; /* Stack student and teacher sections */
    padding: 20px;
  }

  .modal {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    backdrop-filter: blur(8px);
  }

  .star {
    padding-left: 50px;
  }

  .mainNav li {
    padding-left: 30px;
    font-size: 14px;
  }

  .languageAndLogin {
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    /* padding: 10px 0px; */
    align-self: center;
    width: 100vw;
    margin: 0px, 0px;
    padding: 0px, 0px;
  }

  .star {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;

    /* padding-bottom: 100px; */
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 20%;
  }

  .mainNav li {
    font-size: 14px;
  }

  .languageAndLogin {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 70%;
  }

  .signUpContainer {
    left: 10%;
    top: 60px;
    grid-template-columns: 1fr; /* Stack student and teacher sections */
    width: 70vw;
  }

  .modal {
    width: 70vw;
    height: 70vh;
    overflow-y: auto;
    backdrop-filter: blur(8px);
  }

  .studentLoginAndSignUpButton,
  .teacherLoginAndSignUpButton {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .studentLogInForm,
  .teacherLogInForm,
  .studentSignUpInputField,
  .teacherSignUpInputField {
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .studentLogInForm input,
  .teacherLogInForm input,
  .studentSignUpInputField input,
  .teacherSignUpInputField input {
    width: 40%;
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 432px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-self: center;
    width: 100vw;
    margin: 0px, 0px;
    padding: 0px, 0px;
  }

  .star {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 10%;
  }

  .mainNav li {
    font-size: 14px;
  }

  .languageAndLogin {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 50%;
  }

  .signUpContainer {
    left: 10%;
    top: 60px;
    grid-template-columns: 1fr; /* Stack student and teacher sections */
    width: 70vw;
  }

  .modal {
    width: 70vw;
    height: 70vh;
    overflow-y: auto;
    backdrop-filter: blur(8px);
  }

  .studentLoginAndSignUpButton,
  .teacherLoginAndSignUpButton {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .studentLogInForm,
  .teacherLogInForm,
  .studentSignUpInputField,
  .teacherSignUpInputField {
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .studentLogInForm input,
  .teacherLogInForm input,
  .studentSignUpInputField input,
  .teacherSignUpInputField input {
    width: 40%;
    font-size: 14px;
    padding: 10px;
  }
}
