*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  



/* styling for the whole component */
.container{
    display: flex;
    background-color: #43C0F6;
    justify-content: space-between;
    text-align: justify;
    color: azure;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 64px;

}

/* styling for the star logo and text */
.star {
  display: flex;
  width: 120px;
  height: 60px;
  padding-left: 266px;

}

/* styling for the nav buttons */
.mainNav {
  display: flex;
  list-style: none;
  padding-top: 40px;
  text-align: justify;
}

/* styling for the nav buttons */
.mainNav li {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 100px;

}

 /* {register and login plus language logo} */
.languageAndLogin {
  padding-right: 200px;
  background: padding-box;
  align-items: left;
  justify-items: space;
}

 /* {register and login plus language logo} */
.languageAndLogin h4 {
 background: padding-box;
}

.modal {
  position: absolute;
  top:0px;
  left:0px;
  width: 1920px;
  height: 3689px;
  background: transparent url('img/Rectangle 257.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(8px);

.modalCloseButton {
 color: black;}

}
.signUpContainer {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    position: absolute;
    top: 56px;
    left: 460px;
    width: 1300px;
    height: 1000px;
    padding: 20px 20px;
    /* UI Properties */
    background-color: azure;
    /* background: transparent url('img/Rectangle 258.png') 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    
}

.studentLoginResult {
  font-family: Nunito,Black;
  color: 707070;
}


.escButton {
  position: fixed;
  top: 104px;
  right: 200px;
  width: 31px;
  height: 31px;
  

}

.studentSignUpInputField {
    display: flex;
    flex-direction:column;
    padding: 40px;
}

.teacherSignUpInputField {
    display: flex;
    flex-direction:column;
    padding: 40px;
  
}

.studentLoginAndSignUpButton{
  display: flex;
  justify-content: center;
  font-family: Nunito,Black;
  color: 707070;
  font-size: 24px;
  
  
}

.teacherLoginAndSignUpButton{
  display: flex;
  justify-content: center;
  font-family: Nunito,Black;
  color: 707070;
  font-size: 24px;
}

.active {
    background-color:transparent;
    color: grey;
    text-decoration-line: underline red 10px;
    
}

.studentLogInForm {
    display: flex;
    flex-direction:column;
    padding: 40px;
}

.teacherLogInForm {
    display: flex;
    flex-direction:column;
    padding: 40px;
}
