*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  




.container{
    display: flex;
    background-color: #43C0F6;
    justify-content: space-between;
    text-align: justify;
    
    color: azure;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;

}

.star {
  display: flex;
  width: 100px;
  height: 45px;
  padding-left: 200px;
  cursor: pointer;

}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: end;
  list-style: none;
  margin-bottom: 8px;
  
  text-align: justify;
}

.mainNav li {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 100px;
  cursor: pointer;

}

.languageAndLogin {
  padding-right: 200px;
  background: padding-box;
  cursor: pointer;
}

.languageAndLogin h4 {
 background: padding-box;
}

.outerUserBox {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.outerUserBox h4 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}

.userBox {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
 
}
.userImage {
  width: 24;
  height: 24px;
}

.linkStudentProfileViewer {
  text-decoration: none;
  color: inherit;
}