* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  height: 90vh;
  width: 100vw;
}

.innerContainer {
  width: 78%;
  height: 80vh;
  border-radius: 20px;
  padding: 50px;
  background-color: #d9f2fd;
}

.helpRequest {
  font-size: 20px;
  font-weight: 700;
}

.headBtn {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 12px;
}

.markBtn {
  border: none;
  background-color: #d9f2fd;
}
.markBtn:hover {
  cursor: pointer;
}

.listOfStudents {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  font-size: 25px;
}

.middle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkBox {
  width: 20px;
  height: 20px;
}

.box {
  list-style: none;
  border: 2px solid rgba(125, 113, 113, 0.232);
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(164, 131, 131, 0.2);
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.img {
  height: 60px;
  width: 60px;
}

.dateTimeContainer {
  display: flex;
  gap: 800px;
  justify-content: space-between;
}

.dateTime {
  display: flexbox;
  flex-direction: column;
  font-size: 10px;
  margin-left: auto;
}
.spanTime {
  display: flex;
  justify-content: end;
}
