* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  height: 90vh;
  width: 100vw;
}

.innerContainer {
  width: 78%;
  height: 80vh;
  border-radius: 20px;
  padding: 50px;
  background-color: #d9f2fd;
}

.helpRequest {
  font-size: 20px;
  font-weight: 700;
}

.headBtn {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 12px;
}

.replyBtn {
  margin-top: 10px;
}

.markBtn {
  border: none;
  background-color: #d9f2fd;
  transition: 0.3s ease-in-out;
}
.markBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.listOfStudents {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  overflow-y: auto;
  height: 52vh;
  margin-top: 20px;
}

.middle {
  display: flex;
  margin: 0 60px;
  align-items: center;
  gap: 20px;
}
/* .checking {
  transition: 0.3s ease-in-out;
  position: absolute;
}
.checking:hover {
  transform: scale(1);
} */
.box {
  list-style: none;
  border: 2px solid rgba(125, 113, 113, 0.232);
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(164, 131, 131, 0.2);
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 2px 10px 40px 0;
  width: 100%;
}

.img {
  height: 60px;
  width: 60px;
}

.dateTimeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
}

.dateTime {
  display: flexbox;
  flex-direction: column;
  font-size: 10px;
}
.spanTime {
  display: flex;
  justify-content: end;
}

@media (max-width: 1200px) {
  .text {
    display: none;
  }
  .dateTimeContainer {
    display: flex;
    justify-content: end;
  }
}
