.card {
  /* Layout Properties */
  top: 204px;
  left: 373px;
  width: 193px;
  height: 182px;
  /* UI Properties */
  background: transparent url("img/Rectangle 256.png") 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.image {
  /* Layout Properties */
  top: 223px;
  left: 417px;
  width: 104px;
  height: 105px;
  /* UI Properties */
  background: transparent url("img/Ellipse 38.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.name {
  /* Layout Properties */
  top: 345px;
  left: 377px;
  width: 187px;
  height: 32px;
  /* UI Properties */
  background: transparent url("img/AIDEN ANDREWS.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  text-align: center;
  color: #707070;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.card:hover {
  background-color: pink;
}