* {
  font-family: sans-serif;
}

.profileScreen {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: #d2eefa;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* Layout Properties */
  width: 90%;
  height: 80vh;
  border-radius: 30px;
  overflow-y: auto;
}

.profileLink {
  text-decoration: none;
}



