/* Universal selector to apply box-sizing, margin, and padding globally */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  width: 100vw;
  height: 90vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #d9f2fd;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  padding: 5%;
  margin: 2.5vh auto;
  overflow: auto;
}

/* Header styles */


.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  margin-bottom: 1rem; 
}

.buttonContainer {
  display: flex; 
  gap: 1rem; 
  margin-left: auto; 
  margin-right: -20vh; 
  gap: 10px; 
}


button {
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  cursor: pointer; 
  border: none; 
  background: transparent; 
  color: inherit; 
  outline: none; /* フォーカス時のアウトラインをなくす */
  transition: background 0.5s; /* ホバー時のトランジションを追加 */
}

button:hover {
  background: rgba(0, 0, 0, 0.1); /* ホバー時の背景色を設定（必要に応じて調整） */
}


/* Error message styles */
.error {
  color: red;
  margin-top: 2vh;
}


.projectRow {
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 垂直方向に中央揃え */
  margin-bottom: 12px; /* カード間の余白 */
  padding: 10px; /* 内側の余白 */
  border:  #b2e4fa; /* 枠線 */
  border-radius: 1vh; /* 角を丸くする */
  transition: background-color 0.3s; /* ホバー時のトランジション */
  }

.projectRow:hover {
  background-color: d9f2fd; /* ホバー時の背景色 */
}

/* Checkbox styles */
.checkbox {
  display: flex;
  width: 90vh;
  align-items: center;
  margin-right: 20px;
  position: absolute;
  margin-top: 50px;
  transform: translate(-30px, 100px);
}

input[type="checkbox"] {
  width: 5vh;
  height: 5vh;
  position: relative;
  margin-top: -24vh;
}

.checkmark {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  margin:5px;
  background-color: #ffffff;
  border: 1vh solid #707070;
  border-radius: 3px;
  margin-right: 5px;
  position: relative;
}

.checkmark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
  z-index: 1;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: #B2E4FA;
  width: 10vh; /* チェックマークの幅を変更（必要に応じて調整） */
  height: 10vh; /* チェックマークの高さを変更（必要に応じて調整） */
}

.checkmark-text {
  font-size: 2.5em; /* フォントサイズを大きくする（必要に応じて調整） */
  line-height: 5vh; /* チェックマークの高さに合わせる（調整可能） */
  vertical-align: middle; /* 垂直方向の整列を調整 */
}
