* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;

}


/* ======== Background Grey Color ======== */
.Background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
}

.outerBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;

}
/* ---------------------------------------------------- */

/* ======== Left Container ======== */
.leftContainer {
   display: flex;
   justify-content: center;
    height: 550px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 100px 80px 0px 0px;
}

.leftContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* image Box */
.profileImageBox {
    display: flex;
    justify-content: center;
    margin: -200px 20px 20px 20px;
}


.profileImage {
    position: relative;
    top: 40px;
    width: 70%;
    
}

/* Buttons */
.profileBoxButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    
}
.profileBoxButtons button {
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    border: 2px solid #2AC5F5;
    background-color: white;
    font-size: 18px;
    font-weight: 1000;
    color: #2AC5F5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;

}
/* ------------------------------------------------------------------------------------------------- */

/* ======== Right Container ========*/
.rightContainer {
    display: flex;
    height: 700px;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    margin: 100px 0px 0px 0px;
    color: #707070;

}

.profileInfoDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Name */
.profileName {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 48px;
}

/* School */
.profileSchool {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 20px;
}
.profileSchool div {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    width:100%;
    font-size: 24px;
    color: grey;
    
  }



  /* ======== Buttons ======== */
  .backToProjectsButton {
    background-color: #FF0ABC;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .backToProjectsButtonBox {
    display: flex;
    position: relative;
    justify-content: right;
    margin-right: 17%;
    padding: 20px;
    margin-bottom: 40px;
  }

  .linkProjectLibrary {
    text-decoration: none;
    color: inherit;
  }