.footer {
    height: 5vh;
    background-color: white;   
    color: #707070;            
    padding: 20px 0;         
    text-align: center;        
  }
  
  .container {
    max-width: 1200px;       
    margin: 0 auto;           
  }