.linkbtn {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  width: 100%;
  gap: 10px;
}

.backToProjectsButton {
  background-color: #d6b317;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 40px;
}

.backToDashboardButton {
  background-color: #ff0abc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 40px;
}
