* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.component {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #eeeeee;
  padding: 50px;
}

.profileBox {
  display: flex;
  height: 550px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  margin: 150px 80px 0px 0px;
}

.profileBox > div {
  display: flex;
  flex-direction: column;
}

.profileImageBox {
  display: flex;
  justify-content: center;
  margin: -200px 20px 20px 20px;
}
.profileBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  width: 70%;
}

.profileBoxButtons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
}
.profileBoxButtons button {
  display: flex;
  flex-direction: column;
  padding: 3px 20px;
  border: 2px solid #2ac5f5;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  color: #2ac5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #2ac5f566;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(144, 187, 173);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background-color: rgb(105, 118, 118);
  border-radius: 25px;
}

.profileInfoBox {
  height: 700px;
  width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 150px 0px 0px 0px;
  color: #707070;
}

.profileInfo {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 48px;
}

.profileData {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  padding: 20px;
}
.profileData div {
  width: 100%;
  font-size: 24px;
  color: grey;
}
