* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projectSubmissionBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  width: 100%;
  height: 100vh;
}


.projectSubmissionContainer {
  display: flex;
  flex-direction: column; 
  background-color: #d9f2fd;
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 98%;
  height: 80vh;
  border-radius: 20px;
  padding: 50px;
}

.projectSubmissionText {  
  font-family: "adobe-clean", sans-serif;
  font-weight: bold; 
  font-style: Nunito, Black;
  font-size: 24px; 
  margin-bottom: 20px; 
  color: #6C6C6C;
  border-left-color: #6C6C6C;
}

.projectSubmissionContainer > div {
  display: flex;
}

.projectSubmissionSmallContainer {
  display: flex;
  align-items: center; 
  background-color: #FFFFFF;
  width: calc(100% - 20px); /* 全体の幅から20px引いた幅に設定 */ 
  height: 30vh; 
  margin-top: 20px; 
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkboxContainer {
    display: flex;
    width: 80%;
    align-items: center; 
    margin-right: 10px; 
    position: relative; 
}

input[type="checkbox"] {
    width: 32px; 
    height: 32px;
    position: relative; 
}

.checkmark {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #ffffff; 
    border: 1px solid #707070; 
    border-radius: 3px; 
    margin-right: 5px; 
    position: relative; 
}


.checkmark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%; 
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 3px 3px 0 0; 
    z-index: 1; 
}


input[type="checkbox"]:checked + .checkmark {
    background-color: #B2E4FA;
     
}

.studentImage {
  /* position: absolute; */
  /* top: 0.4; */
  width: 40px; 
  height: auto; 
  margin-left: 10px; 
}