/* Container style for each project card */
.projectCardContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 1px solid #ccc; /* Light gray border around the card */
  padding: 16px; /* Padding inside the card for spacing */
  margin: 16px; /* Margin outside the card for spacing from other elements */
  border-radius: 8px; /* Rounded corners for the card */
  background-color: #fff; /* White background color for the card */
}

@media (max-width: 768px) {
  .projectCardContainer {
    flex-direction: column; 
  }
}

/* Checkbox container style */
.checkboxContainer {
  display: inline-block; /* Keep it inline */
  margin-right: 10px; /* Space between checkbox and white box */
}

/* Adjusting the project submission small container */
.projectSubmissionSmallContainer {
  display:flex;
  align-items: flex-start; /* Align items to the start */
  margin-top: 8px; /* Top margin */
  margin-left: 20px; /* Left margin to shift the box to the right */
  margin-right: 20px; /* Right margin */
  width: 80px
  /* Other existing styles */
}

/* Style for student images */
/* 学生の画像のスタイル */
.studentImage {
  width: 50px; /* 幅を50pxに設定 */
  height: 50px; /* 高さを50pxに設定 */
  border-radius: 50%; /* 丸く表示 */
  margin-right: 16px; /* 右の余白 */
}

/* Style for project images
.projectImage {
  width: 100%; 
  height: auto; 
  cursor: pointer; 
} */

/* 画像のスタイル */
.projectImage {
  max-width: 100%; /* 幅を最大100%に設定 */
  height: auto; /* 高さは自動 */
}

/* 画像をセンターに配置するためのスタイル */
.centeredImage {
  display: block; /* ブロック要素として表示 */
  margin: 16px auto; /* 上下のマージンを16px、自動で左右センター */
}

/* Container for enlarging the photo */
.enlargePhotoContainer {
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 縦方向に中央揃え */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Text next to the enlarge photo icon */
.enlargePhotoText {
  margin-left: 8px; /* Left margin to separate from the icon */
  color: #6C6C6C;
}

  
  